@import url('reset.css');

/* Nav Bar*/
.menu {
    width: 100%;
    padding: 12px 16px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--nav-bg-color);
    z-index: 1;
}

.menu-logo {
    max-width: 160px;
}
.menu-logo_image {
    width: 100%;
}

.menu-btn {
    margin-right: 24px;
    font-weight: 700;
    font-size: 0.75rem;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.menu-btn-subscribe {
    background: #b535f6;
    border-radius: 500px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 8px 16px;
}

/* Header */

.header {
    position: relative;
    margin-top: 50px;
    padding: 100px 0 300px;
    background: linear-gradient(-45deg, #56125b, #0f0f10, #271e6e);
    background-size: 400% 400%;
}

.header::after {
  content: "";
  width: 100%;
  height: 250px;
  position: absolute;
  bottom: 0;
  background: linear-gradient(0deg, var(--primary-color), transparent);
}

.header-content {
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 40px;
}

.header-channels {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}
.main-icons {
    object-fit: contain;
}

.header-title {
    display: block;
    font-size: 3rem;
    text-transform: uppercase;
    text-align: center;
    max-width: 600px;
    font-weight: bold;
}
.main-title-light {
    font-weight: lighter;
    font-size: 2rem;
}

.divider {
    width: 70%;
    max-width: 700px;
    height: 5px;
    background-image: linear-gradient(90deg, #5516ba, #ff00e580 80%);
}

.offer {
    text-align: center;
}

.offer-price-01 {
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
}
.offer-price-02 {
    font-size: 3.2rem;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}
.caption-price {
    font-family: 'Raleway', sans-serif;
    font-weight: normal;
    font-size: .9rem;
}

.button {
    color: white;
    background: linear-gradient(60deg,#ff00e580, #5516ba 30%); 
    border-radius: 500px;
    margin-right: 20px;
    margin-left: 20px;
    padding: 8px 16px;
    border: none;
}
.header-button {
    font-family: 'Raleway', sans-serif;
    color: white;
    padding: 16px 40px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1rem;
    letter-spacing: 3px;
}

.text-small {
    font-size: 1rem;
    text-align: center;
}

.title {
    margin: auto;
    max-width: 800px;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
}

/* main */

.subscription {
    background: url("../images/background-movies-series.png") no-repeat;
    background-size: cover;
    position: relative;
}

.subscription__plans {
    display: flex;
    justify-content: space-around;
    gap: 80px;
    margin: 40px 0;
    perspective: 2000px;
    perspective-origin: top;
}

.subscription__card {
   background: var(--card-bg-color);
    padding: 40px 60px;
    border-radius: 8px;
    display: flex;
    min-height: 600px;
    flex-direction: column;
    justify-content: space-between;
}

.subscription__plan {
    display: flex;
    justify-content: space-between;
    font-size: 1.25rem;
    margin-bottom: 16px;
}

.subscription__description {
    text-align: left;
    list-style: none;
    font-size: 1.25rem;
    margin-bottom: 14px;
    padding-left: 14px;
}




.container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    text-align: center;
}

div {
    display: block;
}

.contents {
    display: block;
    margin: 100px 0px;
}

.container {
    max-width: 1200px;
    padding: 24px;
    margin: auto;
    text-align: center;
}

.contents-container {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.contents-card {
    border-radius: 16px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 2px solid transparent;
}

.contents-image {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    margin: 100px 0px 0px 0px;
}

.footer-link {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  color: var(--link-color);
  text-transform: uppercase;
  text-decoration: none;
  margin: 0 14px;
  letter-spacing: 2px;
  font-size: .875rem;
}

.footer-legal {
    color: #9e86ff;
    font-size: .8rem;
    margin: 10px 0px 80px 0px;
}

.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
}
